/* font-family: 'Fuzzy Bubbles', cursive; */
/* font-family: 'Bebas Neue', cursive; */
/* font-family: "DejaVu Sans Bold", sans-serif; */
/* font-family: "KA_KOLHETI", sans-serif; */

.inline-block{
    display:inline-block;
}
.logo-img{
    width: 100px;
    height: 30px;
    margin: 31px 50px 50px 31px;
    vertical-align: middle;
}
.nav-a{
    font-size: 22px;
    color: #3D58A6;
    font-family: "KA_KOLHETI", sans-serif;
    font-style: normal;
    vertical-align: middle;
    margin-left: 30px;
    margin-bottom: 77px;
}
.active{
    color:#EE4036;
}
.banner{
    width: 100%;
    height: 460px;
    margin-bottom: 126px;
}
.container{
    padding-left: 99px;
    padding-right: 99px;
} 
.block-title{
    font-size: 24px;
    font-family: 'Fuzzy Bubbles';
    color:black;
    text-transform: uppercase;
    margin-bottom: 37px;
    
}
.left-block , .right-block {
    width: 550px;
    height: 225px;
    background-color: #F2F2F2;
    vertical-align: middle;
    padding: 20px 30px 40px ;
    margin-bottom: 70px;
}
.left-block{
    margin-right: 26px;
}
.left-block-title , .right-block-title {
    margin-bottom: 13px;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: #3D58A6;
}
.icon1 , .icon2{
    vertical-align: middle;
    margin-right: 40px;
}
.left-block-p, .right-block-p {
    width: 340px;
    font-size: 20px;
    color:#333333;
    font-family: 'Bebas Neue', cursive;
    vertical-align: middle;
    line-height: 24px;
    
}
/* footer */
.icon-fb{
    width: 14px;
    height: 30px;
    margin: 0 40px 0 100px;
}
.line{
    background-color: #363E97;
    height: 27px;
    width: 2px;
    margin-right:40px ;
}
/* news */
.news-container{
    padding-left: 30px;
    padding-right: 97px;
    margin-bottom: 25px;
}
.date{
    width: 56px;
    height: 56px;
    background-color: #3D58A6;
    color:#FFFFFF;
    font-size: 37px;
    padding: 12px 6px;
    margin-bottom: 7px;
    font-family: "KA_KOLHETI", sans-serif;
}
.month{
    font-size: 22px;
    color: #3D58A6;
    font-family: "KA_KOLHETI", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.article-title{
    font-size: 20px;
    font-family: "KA_KOLHETI", sans-serif;
    margin-bottom: 15px;
}
.news-img{
    width: 270px;
    height: 210px;
    vertical-align: top;
    margin-right: 25px;
}
.article-paragraph-1, .article-paragraph-2{
    width: 920px;
    font-size: 16px;
    font-family: "KA_KOLHETI", sans-serif;
    vertical-align: top;

}
.article-paragraph-1{
    margin-bottom: 4px;
}
/* contact */
.contact-section{
    background-color: #E6E6E6;
}
.contact-container{
    width: 1175px;
    padding: 38px 93px 66px 98px;
    
}
.info{
    font-size: 20px;
    font-family: "DejaVu Sans Bold", sans-serif;
    color:#3D58A6 ;
    margin-bottom: 8px;

}
.contact-block{
    vertical-align: top;
    margin-right: 60px;
}
.map-block{
    vertical-align: top;
}



